#about {

    padding-left: 0;
    

    .about__desc, .about__pics h3 {
        margin-left: 2/12*100vw;
        margin-bottom: .4em;
    }

    article {

        width: 8/12*100vw;
        display: flex;
        margin-bottom: 3em;        

        p {
            flex: 1;
            max-width: 600px;
            &:not(:last-child) {
                padding-right: 2em;
            }
        }
    }
}