footer {

    margin: 4em 0;

    .footer__content {

        display: flex;

        .footer__card {

            padding: 4em 0 4em 2/12*100vw;
            width: 5/12*100vw;
    
            border-radius: 0 6px 6px 0;
    
            background: $purple;
    
            color: white;
    
            h2 {
                color: white;
                line-height: 1;
                margin-bottom: .8em;
            }
        
            a.button.button--full {
                background: $pink;
                color: $purple;

                transition: 200ms ease;
        
                &:hover {
                    background: $pink-light;
                }
        
            }
        
        }

        .footer__pattern {
            margin-left: 1/24*100vw;
            background: url("../assets/images/pattern.png");
            width: 13/24*100vw;

            border-radius: 6px 0 0 6px;
        }
    }


    span {
        margin-left: 2/12*100vw;
        display: block;
        margin-top: 4em;
        font-style: italic;
        opacity: .7;
    }

}