header {
    padding:  0 1/12*100vw;
    height: 85vh;

    display: flex;

    .image {

        margin: 10vh 1/12*100vw;

        .image-container {
            width: 4/12*100vw;
            overflow: hidden;
            height: 65vh;
            
            background: url("../assets/images/autumn.jpg") center no-repeat;
            filter: contrast(110%) brightness(105%);
            background-size: cover;
    
            box-shadow: 0px 10px 93px -45px rgba(0,0,0,0.75);
            border-radius: 6px;
        }

        span {
            display: block;
            margin-top: .5em;
            margin-left: 8px;

            @extend .subtitle;

            font-size: .8;
            opacity: .6;
            font-weight: 400;

        }
    }
    

    .content {
        padding: 1/5*100vh 0;

        span {
            display: block;
            font-style: italic;
            font-weight: 700;
            margin: 0;
            margin-bottom: 1.2em;
        }
    
        h1 {
            font-size: 6rem;
            line-height: 1.1;
            margin-bottom: 1rem;
        }
    
        p {
            
            width: 3/12*100vw;
            margin-bottom: 1.2em;
            
            &.lead {
                font-size: 1.2em;
                line-height: 1.8em;
            }
        }
    
        ul {
            @extend .list--horizontal, .no-link-style;
        }
    
        
        .header__links {
            font-size: .9em;
    
            .header__social-links {
        
                margin-bottom: 1.1em;
                
                .button {
                    display: inline-block;
                }
            }
            
            // will-changes
            &:hover {
                .button--link {
                    will-change: background;
                }
        
                .button--attachment {
                    will-change: background, border
                }
            }
        }
    }
}

