
// typography classes
.serif {
    font-family: "Droid Serif", serif;
}

// lists
.list--horizontal {

    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;
    }
}

// links
.no-link-style {
    &:link, :link {
        text-decoration: none;
        color: inherit;
    }
    &:visited, :visited {
        color: inherit;
    }
}


// dividers
.divider {
    display: block;
    width: 10/12*100vw;

    
    height: 1px;
    background: rgba(rgb(14, 13, 68), .1);

    border: none;
}

.subtitle {

    opacity: .7;

    font-size: .9em;
    font-weight: 700;
    line-height: 1.5;


    &::selection {
        background: transparent;
    }
}