
// typography

$font-size-body: 18px;

$font-body: "Inter";
$font-header: "El Messiri";

$body-text-color: #5e5d72;
$header-text-color: rgb(77, 134, 54);
$color-encourage: #215eb9;

$body-background-color: rgb(238, 243, 245);

