
// typography

$font-size-body: 18px;

$font-body: "Inter";
$font-header: "El Messiri";

$body-text-color: #5e5d72;
$header-text-color: #4d8636;
$color-encourage: #215eb9;
$purple: #170d45;
$pink: #ed587d;
$pink-light: #ff8aa7;

$body-background-color: #eef3f5;

